<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

    
</head>
<body >
    <div id="636dabf9d82b41bd93192b3ec5cc3878" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_636dabf9d82b41bd93192b3ec5cc3878 = echarts.init(
            document.getElementById('636dabf9d82b41bd93192b3ec5cc3878'), 'white', {renderer: 'canvas'});
        var option_636dabf9d82b41bd93192b3ec5cc3878 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u871c\u96ea",
                    "value": 4624,
                    "textStyle": {
                        "color": "rgb(7,100,118)"
                    }
                },
                {
                    "name": "\u51b0\u57ce",
                    "value": 4608,
                    "textStyle": {
                        "color": "rgb(88,93,98)"
                    }
                },
                {
                    "name": "doge",
                    "value": 3795,
                    "textStyle": {
                        "color": "rgb(26,61,9)"
                    }
                },
                {
                    "name": "\u6211\u7231\u4f60",
                    "value": 1893,
                    "textStyle": {
                        "color": "rgb(116,145,155)"
                    }
                },
                {
                    "name": "\u751c\u871c\u871c",
                    "value": 1498,
                    "textStyle": {
                        "color": "rgb(68,65,86)"
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 1488,
                    "textStyle": {
                        "color": "rgb(14,139,109)"
                    }
                },
                {
                    "name": "\u54c8\u54c8\u54c8",
                    "value": 1382,
                    "textStyle": {
                        "color": "rgb(18,108,72)"
                    }
                },
                {
                    "name": "\u53ef\u7231",
                    "value": 922,
                    "textStyle": {
                        "color": "rgb(103,107,6)"
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 768,
                    "textStyle": {
                        "color": "rgb(51,51,30)"
                    }
                },
                {
                    "name": "\u85cf\u72d0",
                    "value": 744,
                    "textStyle": {
                        "color": "rgb(31,124,159)"
                    }
                },
                {
                    "name": "\u5927\u54ed",
                    "value": 729,
                    "textStyle": {
                        "color": "rgb(8,117,109)"
                    }
                },
                {
                    "name": "\u7cfb\u5217",
                    "value": 681,
                    "textStyle": {
                        "color": "rgb(126,50,60)"
                    }
                },
                {
                    "name": "\u70ed\u8bcd",
                    "value": 666,
                    "textStyle": {
                        "color": "rgb(117,65,61)"
                    }
                },
                {
                    "name": "\u8131\u5355",
                    "value": 616,
                    "textStyle": {
                        "color": "rgb(97,42,53)"
                    }
                },
                {
                    "name": "\u5976\u8336",
                    "value": 613,
                    "textStyle": {
                        "color": "rgb(158,54,82)"
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 590,
                    "textStyle": {
                        "color": "rgb(127,122,42)"
                    }
                },
                {
                    "name": "\u7136\u540e",
                    "value": 590,
                    "textStyle": {
                        "color": "rgb(109,137,144)"
                    }
                },
                {
                    "name": "\u771f\u7684",
                    "value": 586,
                    "textStyle": {
                        "color": "rgb(58,139,157)"
                    }
                },
                {
                    "name": "\u773c\u775b",
                    "value": 586,
                    "textStyle": {
                        "color": "rgb(46,24,63)"
                    }
                },
                {
                    "name": "\u73b0\u5728",
                    "value": 551,
                    "textStyle": {
                        "color": "rgb(28,134,79)"
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 529,
                    "textStyle": {
                        "color": "rgb(45,88,25)"
                    }
                },
                {
                    "name": "\u6551\u547d",
                    "value": 529,
                    "textStyle": {
                        "color": "rgb(128,32,64)"
                    }
                },
                {
                    "name": "\u4e3a\u4ec0\u4e48",
                    "value": 509,
                    "textStyle": {
                        "color": "rgb(123,32,16)"
                    }
                },
                {
                    "name": "\u4ec0\u4e48",
                    "value": 490,
                    "textStyle": {
                        "color": "rgb(69,38,98)"
                    }
                },
                {
                    "name": "\u9ad8\u8003",
                    "value": 490,
                    "textStyle": {
                        "color": "rgb(78,9,141)"
                    }
                },
                {
                    "name": "\u82cf\u73ca\u5a1c",
                    "value": 474,
                    "textStyle": {
                        "color": "rgb(141,73,131)"
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 462,
                    "textStyle": {
                        "color": "rgb(156,11,117)"
                    }
                },
                {
                    "name": "\u9996\u6b4c",
                    "value": 461,
                    "textStyle": {
                        "color": "rgb(116,152,69)"
                    }
                },
                {
                    "name": "\u6d17\u8111",
                    "value": 455,
                    "textStyle": {
                        "color": "rgb(74,133,121)"
                    }
                },
                {
                    "name": "\u5b66\u6821",
                    "value": 453,
                    "textStyle": {
                        "color": "rgb(159,84,71)"
                    }
                },
                {
                    "name": "\u5fae\u7b11",
                    "value": 442,
                    "textStyle": {
                        "color": "rgb(56,95,136)"
                    }
                },
                {
                    "name": "\u96ea\u738b",
                    "value": 438,
                    "textStyle": {
                        "color": "rgb(17,31,141)"
                    }
                },
                {
                    "name": "\u89c6\u9891",
                    "value": 414,
                    "textStyle": {
                        "color": "rgb(115,144,9)"
                    }
                },
                {
                    "name": "\u67e0\u6aac",
                    "value": 413,
                    "textStyle": {
                        "color": "rgb(1,30,56)"
                    }
                },
                {
                    "name": "\u67e0\u6aac\u6c34",
                    "value": 389,
                    "textStyle": {
                        "color": "rgb(10,3,52)"
                    }
                },
                {
                    "name": "love",
                    "value": 382,
                    "textStyle": {
                        "color": "rgb(21,77,59)"
                    }
                },
                {
                    "name": "\u6ca1\u6709",
                    "value": 379,
                    "textStyle": {
                        "color": "rgb(89,87,128)"
                    }
                },
                {
                    "name": "\u600e\u4e48",
                    "value": 379,
                    "textStyle": {
                        "color": "rgb(60,30,32)"
                    }
                },
                {
                    "name": "\u4e0a\u5934",
                    "value": 377,
                    "textStyle": {
                        "color": "rgb(15,96,10)"
                    }
                },
                {
                    "name": "\u5df2\u7ecf",
                    "value": 373,
                    "textStyle": {
                        "color": "rgb(119,23,141)"
                    }
                },
                {
                    "name": "\u804a\u7740",
                    "value": 372,
                    "textStyle": {
                        "color": "rgb(82,64,49)"
                    }
                },
                {
                    "name": "tv",
                    "value": 370,
                    "textStyle": {
                        "color": "rgb(104,20,47)"
                    }
                },
                {
                    "name": "\u82a6\u835f",
                    "value": 369,
                    "textStyle": {
                        "color": "rgb(82,150,85)"
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 359,
                    "textStyle": {
                        "color": "rgb(1,155,94)"
                    }
                },
                {
                    "name": "\u51b0\u6dc7\u6dcb",
                    "value": 345,
                    "textStyle": {
                        "color": "rgb(143,89,58)"
                    }
                },
                {
                    "name": "\u597d\u559d",
                    "value": 340,
                    "textStyle": {
                        "color": "rgb(160,105,104)"
                    }
                },
                {
                    "name": "\u5fc3\u5fc3",
                    "value": 338,
                    "textStyle": {
                        "color": "rgb(61,106,134)"
                    }
                },
                {
                    "name": "\u53ef\u4ee5",
                    "value": 337,
                    "textStyle": {
                        "color": "rgb(80,103,15)"
                    }
                },
                {
                    "name": "\u5496\u5561",
                    "value": 336,
                    "textStyle": {
                        "color": "rgb(62,81,156)"
                    }
                },
                {
                    "name": "\u89c9\u5f97",
                    "value": 335,
                    "textStyle": {
                        "color": "rgb(26,13,121)"
                    }
                },
                {
                    "name": "\u56e0\u4e3a",
                    "value": 331,
                    "textStyle": {
                        "color": "rgb(2,137,54)"
                    }
                },
                {
                    "name": "\u559c\u6b22",
                    "value": 326,
                    "textStyle": {
                        "color": "rgb(27,151,63)"
                    }
                },
                {
                    "name": "\u4e00\u53e5",
                    "value": 323,
                    "textStyle": {
                        "color": "rgb(17,78,89)"
                    }
                },
                {
                    "name": "\u611f\u89c9",
                    "value": 321,
                    "textStyle": {
                        "color": "rgb(28,47,63)"
                    }
                },
                {
                    "name": "\u96ea\u4eba",
                    "value": 316,
                    "textStyle": {
                        "color": "rgb(131,55,102)"
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 314,
                    "textStyle": {
                        "color": "rgb(76,33,61)"
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 313,
                    "textStyle": {
                        "color": "rgb(111,127,32)"
                    }
                },
                {
                    "name": "yyds",
                    "value": 313,
                    "textStyle": {
                        "color": "rgb(4,142,135)"
                    }
                },
                {
                    "name": "\u6240\u4ee5",
                    "value": 309,
                    "textStyle": {
                        "color": "rgb(130,158,60)"
                    }
                },
                {
                    "name": "\u8003\u8bd5",
                    "value": 307,
                    "textStyle": {
                        "color": "rgb(80,43,83)"
                    }
                },
                {
                    "name": "\u54c8\u54c8\u54c8\u54c8",
                    "value": 303,
                    "textStyle": {
                        "color": "rgb(47,67,150)"
                    }
                },
                {
                    "name": "call",
                    "value": 302,
                    "textStyle": {
                        "color": "rgb(138,57,54)"
                    }
                },
                {
                    "name": "\u96ea\u9876",
                    "value": 300,
                    "textStyle": {
                        "color": "rgb(11,118,56)"
                    }
                },
                {
                    "name": "\u4e00\u676f",
                    "value": 297,
                    "textStyle": {
                        "color": "rgb(6,39,115)"
                    }
                },
                {
                    "name": "\u5faa\u73af",
                    "value": 291,
                    "textStyle": {
                        "color": "rgb(126,37,49)"
                    }
                },
                {
                    "name": "\u4fbf\u5b9c",
                    "value": 287,
                    "textStyle": {
                        "color": "rgb(145,122,74)"
                    }
                },
                {
                    "name": "\u4e0d\u662f",
                    "value": 282,
                    "textStyle": {
                        "color": "rgb(117,36,49)"
                    }
                },
                {
                    "name": "\u4e00\u5929",
                    "value": 275,
                    "textStyle": {
                        "color": "rgb(22,24,74)"
                    }
                },
                {
                    "name": "\u8111\u5b50\u91cc",
                    "value": 267,
                    "textStyle": {
                        "color": "rgb(34,36,17)"
                    }
                },
                {
                    "name": "\u64ad\u653e",
                    "value": 267,
                    "textStyle": {
                        "color": "rgb(122,42,132)"
                    }
                },
                {
                    "name": "\u6ee1\u8111\u5b50",
                    "value": 266,
                    "textStyle": {
                        "color": "rgb(125,6,4)"
                    }
                },
                {
                    "name": "\u8fd9\u4e48",
                    "value": 266,
                    "textStyle": {
                        "color": "rgb(3,27,36)"
                    }
                },
                {
                    "name": "\u7f16\u7a0b",
                    "value": 265,
                    "textStyle": {
                        "color": "rgb(153,98,6)"
                    }
                },
                {
                    "name": "\u660e\u5929",
                    "value": 264,
                    "textStyle": {
                        "color": "rgb(78,65,65)"
                    }
                },
                {
                    "name": "\u90a3\u4e2a",
                    "value": 261,
                    "textStyle": {
                        "color": "rgb(68,127,29)"
                    }
                },
                {
                    "name": "\u5929\u706d",
                    "value": 255,
                    "textStyle": {
                        "color": "rgb(6,76,159)"
                    }
                },
                {
                    "name": "\u4f60\u5b66",
                    "value": 251,
                    "textStyle": {
                        "color": "rgb(136,129,29)"
                    }
                },
                {
                    "name": "\u5403\u74dc",
                    "value": 249,
                    "textStyle": {
                        "color": "rgb(145,94,85)"
                    }
                },
                {
                    "name": "\u770b\u5230",
                    "value": 245,
                    "textStyle": {
                        "color": "rgb(101,109,113)"
                    }
                },
                {
                    "name": "\u4e00\u5bb6",
                    "value": 239,
                    "textStyle": {
                        "color": "rgb(7,134,21)"
                    }
                },
                {
                    "name": "\u96be\u53d7",
                    "value": 237,
                    "textStyle": {
                        "color": "rgb(7,78,68)"
                    }
                },
                {
                    "name": "\u4e00\u76f4",
                    "value": 234,
                    "textStyle": {
                        "color": "rgb(16,0,10)"
                    }
                },
                {
                    "name": "https",
                    "value": 234,
                    "textStyle": {
                        "color": "rgb(22,20,138)"
                    }
                },
                {
                    "name": "\u8fd8\u662f",
                    "value": 231,
                    "textStyle": {
                        "color": "rgb(110,157,76)"
                    }
                },
                {
                    "name": "\u4e3b\u9898\u66f2",
                    "value": 223,
                    "textStyle": {
                        "color": "rgb(106,7,148)"
                    }
                },
                {
                    "name": "xdm",
                    "value": 223,
                    "textStyle": {
                        "color": "rgb(149,57,75)"
                    }
                },
                {
                    "name": "\u539f\u66f2",
                    "value": 218,
                    "textStyle": {
                        "color": "rgb(29,19,90)"
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 213,
                    "textStyle": {
                        "color": "rgb(90,115,10)"
                    }
                },
                {
                    "name": "\u4e00\u8d77",
                    "value": 213,
                    "textStyle": {
                        "color": "rgb(135,141,49)"
                    }
                },
                {
                    "name": "\u77e5\u8bc6",
                    "value": 206,
                    "textStyle": {
                        "color": "rgb(44,160,105)"
                    }
                },
                {
                    "name": "\u6bcf\u5929",
                    "value": 204,
                    "textStyle": {
                        "color": "rgb(67,84,18)"
                    }
                },
                {
                    "name": "\u4f46\u662f",
                    "value": 204,
                    "textStyle": {
                        "color": "rgb(31,143,65)"
                    }
                },
                {
                    "name": "\u8fd9\u6b4c",
                    "value": 200,
                    "textStyle": {
                        "color": "rgb(116,95,29)"
                    }
                },
                {
                    "name": "\u56db\u5b63\u6625",
                    "value": 198,
                    "textStyle": {
                        "color": "rgb(114,92,145)"
                    }
                },
                {
                    "name": "\u4e00\u904d",
                    "value": 198,
                    "textStyle": {
                        "color": "rgb(38,37,107)"
                    }
                },
                {
                    "name": "\u4e0d\u8981",
                    "value": 197,
                    "textStyle": {
                        "color": "rgb(97,0,153)"
                    }
                },
                {
                    "name": "b23",
                    "value": 194,
                    "textStyle": {
                        "color": "rgb(24,131,32)"
                    }
                },
                {
                    "name": "OK",
                    "value": 193,
                    "textStyle": {
                        "color": "rgb(17,146,106)"
                    }
                },
                {
                    "name": "\u554a\u554a\u554a",
                    "value": 186,
                    "textStyle": {
                        "color": "rgb(78,70,56)"
                    }
                },
                {
                    "name": "\u58f0\u97f3",
                    "value": 185,
                    "textStyle": {
                        "color": "rgb(75,33,126)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u8bc4\u8bba\u5185\u5bb9\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "left": "center",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_636dabf9d82b41bd93192b3ec5cc3878.setOption(option_636dabf9d82b41bd93192b3ec5cc3878);
    </script>
</body>
</html>
