<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
</head>
<body>
    <div id="1d78c9163a284e65b577d80e0efb9346" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_1d78c9163a284e65b577d80e0efb9346 = echarts.init(
            document.getElementById('1d78c9163a284e65b577d80e0efb9346'), null, {renderer: 'canvas'});

        // 马卡龙色系配色
        var macaronColors = ['#FFB7C5', '#A2D7D8', '#FFDEB4', '#D4A5A5', '#B5C7E5'];

        var option_1d78c9163a284e65b577d80e0efb9346 = {
            "color": macaronColors,
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "aria": {
                "enabled": false
            },
            "series": [
                {
                    "type": "bar",
                    "name": "点赞数",
                    "legendHoverLink": true,
                    "data": [
                        10,
                        10,
                        6,
                        6,
                        6,
                        6,
                        6,
                        5,
                        5,
                        5,
                        5,
                        5,
                        5,
                        4,
                        4,
                        4,
                        4,
                        4,
                        4,
                        4,
                        4,
                        3,
                        3,
                        3,
                        3,
                        2,
                        2,
                        2,
                        2,
                        2
                    ],
                    "itemStyle": {
                        "color": macaronColors[0]
                    },
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": false,
                        "margin": 8,
                        "valueAnimation": false
                    }
                }
            ],
            "legend": [
                {
                    "data": [
                        "点赞数"
                    ],
                    "selected": {},
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "xAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid",
                            "color": "#eee"
                        }
                    },
                    "animation": true,
                    "animationThreshold": 2000,
                    "animationDuration": 1000,
                    "animationEasing": "cubicOut",
                    "animationDelay": 0,
                    "animationDurationUpdate": 300,
                    "animationEasingUpdate": "cubicOut",
                    "animationDelayUpdate": 0,
                    "data": [
                        "朔的人生到处是观众，带入一下我真的会崩溃，哪哪都是认识我的陌生人！像我一个这样爱挖鼻💛的小姑娘，要是火了分分钟被人拍到抓耳挠腮的动作然后尬方",
                        "爱是漫长的旅途　梦有快乐　梦有痛苦\n悲欢离合人间路　一路上缝缝补补\n不愿让你看见我的伤处　是曾经无悔的风雨无阻\n完成够不够多　做得够不够好　\n可以不在乎　不迷糊",
                        "一路不语，一路竖大拇指止了[doge]",
                        "师父如果要去黄山的话，坐高铁有两个站一个是黄山北站，一个黄山西站，建议北站下车，交通方便，车子也会更多「当地出租车有点贵有那种拼车大概30-40一人滴滴估计是难打到车的」。去黄山记得做好防晒，按照你的体能拐杖多余哈哈哈哈。徽菜味道不错的「建议你好好找店铺我这里就不推荐了，有的店铺味道一般菜不好[笑哭]」",
                        "朔哥早上好啊，我是大家，期待你能来我们青城山转悠转悠，这是个放松心情的好地方呢。都江堰这边还有一个猫猫庙（赵公明庙），里面喂养了很多可爱的小猫崽，想着你应该也会喜欢上这里的[蹦蹦]",
                        "三伏天了，师父不要乱跑，快点回来更新了[生气_金箍][生气_金箍][生气_金箍]",
                        "最近看到师父为罗帅宇发声了，抠搜如我赶紧给师父充电[doge_金箍]。师父是公众人物，勇敢发声，不惧黑暗，头上仿佛有圣光啊[给心心]。我不在前线在后方，站在正义梯队，支持师父！！！[加油][加油][加油]",
                        "师父这几天竖大拇指都要竖出腱鞘炎了吧[呲牙][doge_金箍][呲牙][吃瓜][吃瓜][吃瓜]",
                        "朔子，给你看今天遇到的小松鼠，好呆萌哦[大笑][大笑]",
                        "师父 像不像空空啊",
                        "以后问赵朔是否更新就是，今天还回来吃饭么师父？不回来寄个明信片[doge_金箍]~",
                        "师父，来泰山了吗，给你看泰山的日出",
                        "乐于助人的好师父[doge_金箍]",
                        "早上好，看我漂亮女儿！",
                        "师父来成都三星堆博物馆看过没，你肯定会喜欢的。",
                        "“师父，您笑起来真好看，像春天的花一样！”💐",
                        "力大如牛的师父，山东欢迎你[大笑][doge_金箍][大笑]",
                        "师父好！",
                        "师父，有时间去吊瓶血红蛋白吧，回血效果很好，亲测有效（促进营养吸收，提高身体免疫力，身体细胞感觉供血充足了，电量满满，眼里有活可以去做，再也不是心有馀而力不足，感觉强的可怕）。因为看你黑眼圈好重呀还发紫，双眼一层迷雾，肯定是带着脑子睡觉没睡好，嘴唇又发白得和贫血一样。现在食补和睡觉效果甚微的，身体熬不起。保重身体呀，别晕了，大夏天已经开始了",
                        "赵朔你是要爬五岳吗？俗话说五岳归来不看山，确实值得一去，目前我只爬过两次泰山，十八盘爬断腿啊，但看了日出很震撼。如果到了河南嵩山，可以嵩山少林寺多待一天，据说那里的斋饭不错呢[呲牙]",
                        "师父周末会在哪啊，会不会来北京啊[辣眼睛][委屈]全世界都在偶遇，我这个ip有希望吗[大哭]",
                        "这个嘎子哭了湖，看了好几天了[笑哭]",
                        "[吃瓜][吃瓜][吃瓜]",
                        "师父，又收到了远方的明信片哦，希望你好吃好喝好睡心情好。",
                        "抖音看到，看看咱家师父多好！",
                        "朔哥，要不来云南爬爬苍山，环环洱海！刚好也避避暑！(✧◡✧)",
                        "今日有最低满月，15:44记得看呐[OK]下一次就是2043年啦",
                        "师父，爬山，，，是很好的赋能方式呢，可以逼出体内的东西，有机会去去南方[保佑][保佑][保佑]",
                        "这么久还没更新，看来赵朔是在故作轻松。之前养悟空的时候太用心了，悟空走了，心就缺了一块，需要很长时间才能愈合。",
                        "师父你好，这是我的画舫厕所搭子"
                    ]
                }
            ],
            "yAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid",
                            "color": "#eee"
                        }
                    },
                    "animation": true,
                    "animationThreshold": 2000,
                    "animationDuration": 1000,
                    "animationEasing": "cubicOut",
                    "animationDelay": 0,
                    "animationDurationUpdate": 300,
                    "animationEasingUpdate": "cubicOut",
                    "animationDelayUpdate": 0
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "点赞数最高的评论 Top 30",
                    "target": "blank",
                    "subtext": "从MongoDB读取数据并去重",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "textStyle": {
                        "color": "#FF8FAB"
                    },
                    "subtextStyle": {
                        "color": "#A2D7D8"
                    },
                    "triggerEvent": false
                }
            ],
            "dataZoom": [
                {
                    "show": true,
                    "type": "slider",
                    "showDetail": true,
                    "showDataShadow": true,
                    "realtime": true,
                    "start": 20,
                    "end": 80,
                    "orient": "horizontal",
                    "zoomLock": false,
                    "filterMode": "filter"
                }
            ]
        };
        chart_1d78c9163a284e65b577d80e0efb9346.setOption(option_1d78c9163a284e65b577d80e0efb9346);
    </script>
</body>
</html>