<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

    
</head>
<body >
    <div id="b76cb7efae2747e9bced40a40e857394" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b76cb7efae2747e9bced40a40e857394 = echarts.init(
            document.getElementById('b76cb7efae2747e9bced40a40e857394'), 'light', {renderer: 'canvas'});
        var option_b76cb7efae2747e9bced40a40e857394 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                12,
                60
            ],
            "data": [
                {
                    "name": "\u5929\u5566\u565c",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(110,123,13)"
                    }
                },
                {
                    "name": "\u4e0d\u8981",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(117,99,61)"
                    }
                },
                {
                    "name": "\u5938\u5f20",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(101,106,80)"
                    }
                },
                {
                    "name": "\u753b\u4e2a",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(99,112,89)"
                    }
                },
                {
                    "name": "\u661f\u7403",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(80,140,141)"
                    }
                },
                {
                    "name": "\u5b5c\u7136",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(41,55,80)"
                    }
                },
                {
                    "name": "\u9752\u67e0",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(96,10,62)"
                    }
                },
                {
                    "name": "\u5927\u767d\u83dc",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(41,153,82)"
                    }
                },
                {
                    "name": "\u4e00\u9897",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(42,9,41)"
                    }
                },
                {
                    "name": "hi",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(58,20,87)"
                    }
                },
                {
                    "name": "\u4e00\u852c",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(139,128,57)"
                    }
                },
                {
                    "name": "\u4e00\u996d",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(41,132,80)"
                    }
                },
                {
                    "name": "\u997a\u5b50",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(56,81,133)"
                    }
                },
                {
                    "name": "\u5999\u6b4c",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(80,123,31)"
                    }
                },
                {
                    "name": "\u609f\u7a7a",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(107,129,156)"
                    }
                },
                {
                    "name": "\u8111\u95e8\u513f",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(41,125,133)"
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(147,119,86)"
                    }
                },
                {
                    "name": "Chingiz",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(121,46,124)"
                    }
                },
                {
                    "name": "Aitmatov",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(69,18,127)"
                    }
                },
                {
                    "name": "\u5927\u7897",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(0,141,49)"
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(114,31,144)"
                    }
                },
                {
                    "name": "\u56e0\u68a6",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(77,24,17)"
                    }
                },
                {
                    "name": "you",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(98,136,115)"
                    }
                },
                {
                    "name": "\u592a\u9633",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(89,43,65)"
                    }
                },
                {
                    "name": "2025",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(29,112,145)"
                    }
                },
                {
                    "name": "\u8389\u8389",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(106,11,46)"
                    }
                },
                {
                    "name": "\u5854\u7f57",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(97,63,1)"
                    }
                },
                {
                    "name": "\u5360\u661f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(35,65,112)"
                    }
                },
                {
                    "name": "\u8679\u8679\u8679",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(56,55,20)"
                    }
                },
                {
                    "name": "\u4e00\u526a\u6885",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(46,83,156)"
                    }
                },
                {
                    "name": "\u6e05\u98ce",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(125,63,125)"
                    }
                },
                {
                    "name": "\u660e\u6708",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(141,58,131)"
                    }
                },
                {
                    "name": "\u561f\u561f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(110,76,86)"
                    }
                },
                {
                    "name": "\u5c0f\u4e5d\u8981",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(82,15,159)"
                    }
                },
                {
                    "name": "\u963f\u52d2\u6cf0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(142,130,111)"
                    }
                },
                {
                    "name": "\u6735\u6735",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(158,66,17)"
                    }
                },
                {
                    "name": "\u5e93\u65af\u79d1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(71,145,156)"
                    }
                },
                {
                    "name": "\u79cb\u88e4",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(77,131,60)"
                    }
                },
                {
                    "name": "\u6162\u60a0\u60a0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(72,30,51)"
                    }
                },
                {
                    "name": "\u5f00\u6717",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(96,82,0)"
                    }
                },
                {
                    "name": "\u5e08\u59b9",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(6,115,104)"
                    }
                },
                {
                    "name": "\u601d\u5ff5",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(42,80,140)"
                    }
                },
                {
                    "name": "\u54bf\u5440",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(54,102,54)"
                    }
                },
                {
                    "name": "AurigaBeacon",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(1,37,56)"
                    }
                },
                {
                    "name": "\u4e94\u65b9",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(94,119,83)"
                    }
                },
                {
                    "name": "\u6635\u79f0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(117,69,121)"
                    }
                },
                {
                    "name": "\u8584\u8377",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(52,75,77)"
                    }
                },
                {
                    "name": "\u829d\u9ebb",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(42,22,123)"
                    }
                },
                {
                    "name": "\u5473\u9053",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(63,11,49)"
                    }
                },
                {
                    "name": "\u5973\u5b69",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(25,78,100)"
                    }
                },
                {
                    "name": "\u82b1\u82b1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(6,117,53)"
                    }
                },
                {
                    "name": "\u5c3f\u6ce1",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(125,108,91)"
                    }
                },
                {
                    "name": "\u54b8\u83dc",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(60,120,144)"
                    }
                },
                {
                    "name": "\u9ec4\u9c7c",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(158,38,103)"
                    }
                },
                {
                    "name": "\u5c0f\u82f9\u679c",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(125,27,137)"
                    }
                },
                {
                    "name": "\u6668\u6797",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(86,19,111)"
                    }
                },
                {
                    "name": "\u4fdd\u6301",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(89,153,71)"
                    }
                },
                {
                    "name": "\u5fae\u7b11",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(66,154,160)"
                    }
                },
                {
                    "name": "0321",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(133,64,48)"
                    }
                },
                {
                    "name": "\u9633\u5149",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(114,3,19)"
                    }
                },
                {
                    "name": "\u6175\u61d2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(141,86,44)"
                    }
                },
                {
                    "name": "yifanyuanhang",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(20,132,62)"
                    }
                },
                {
                    "name": "\u5d3d\u5d3d\u9c7c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,134,91)"
                    }
                },
                {
                    "name": "\u610f\u96be",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(134,18,106)"
                    }
                },
                {
                    "name": "\u5e73\u7a7a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,63,88)"
                    }
                },
                {
                    "name": "\u7cd6\u7cd6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(23,95,7)"
                    }
                },
                {
                    "name": "\u4e00\u6837",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(87,36,146)"
                    }
                },
                {
                    "name": "\u770b\u89c1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,59,134)"
                    }
                },
                {
                    "name": "ID",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(53,148,23)"
                    }
                },
                {
                    "name": "\u4e45\u4e45",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(38,48,90)"
                    }
                },
                {
                    "name": "\u5355\u8bfb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,56,103)"
                    }
                },
                {
                    "name": "isishuang",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(157,32,5)"
                    }
                },
                {
                    "name": "dyn",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,36,15)"
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(39,136,28)"
                    }
                },
                {
                    "name": "\u80a9\u5e76\u80a9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(59,50,127)"
                    }
                },
                {
                    "name": "\u54ce\u54df",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(71,121,68)"
                    }
                },
                {
                    "name": "\u9ec4\u6bdb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,92,35)"
                    }
                },
                {
                    "name": "\u5c0f\u871c\u8702",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,133,130)"
                    }
                },
                {
                    "name": "\u9ad8\u98de",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,104,69)"
                    }
                },
                {
                    "name": "QYSeason",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,110,47)"
                    }
                },
                {
                    "name": "\u65e0\u654c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(21,148,141)"
                    }
                },
                {
                    "name": "\u5927\u8138",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(24,116,8)"
                    }
                },
                {
                    "name": "\u6781\u5ba2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(155,2,155)"
                    }
                },
                {
                    "name": "\u98de\u884c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,123,148)"
                    }
                },
                {
                    "name": "\u68ee\u6797",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(28,43,4)"
                    }
                },
                {
                    "name": "\u5fae\u5c18",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,2,9)"
                    }
                },
                {
                    "name": "\u5239\u90a3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(30,49,13)"
                    }
                },
                {
                    "name": "\u5927\u51b7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(48,146,65)"
                    }
                },
                {
                    "name": "AIGC",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(49,126,37)"
                    }
                },
                {
                    "name": "\u9891\u9053",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,53,59)"
                    }
                },
                {
                    "name": "\u6d77\u5a1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(127,7,11)"
                    }
                },
                {
                    "name": "\u624b\u7ed8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(28,140,147)"
                    }
                },
                {
                    "name": "\u6843\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(149,7,31)"
                    }
                },
                {
                    "name": "\u4e0a\u5cb8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(10,22,122)"
                    }
                },
                {
                    "name": "111",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,160,36)"
                    }
                },
                {
                    "name": "\u541b\u5bfb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,1,137)"
                    }
                },
                {
                    "name": "\u51b0\u4ea6\u51dd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,111,16)"
                    }
                },
                {
                    "name": "\u963f\u51a0\u5b9d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(62,118,143)"
                    }
                },
                {
                    "name": "\u9646\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,47,14)"
                    }
                },
                {
                    "name": "\u843d\u96ea",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,157,50)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u7528\u6237\u540d\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b76cb7efae2747e9bced40a40e857394.setOption(option_b76cb7efae2747e9bced40a40e857394);
    </script>
</body>
</html>
