<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

    
</head>
<body >
    <div id="bfe6ff3f419b4ab1a99cab71c648af00" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_bfe6ff3f419b4ab1a99cab71c648af00 = echarts.init(
            document.getElementById('bfe6ff3f419b4ab1a99cab71c648af00'), 'light', {renderer: 'canvas'});
        var option_bfe6ff3f419b4ab1a99cab71c648af00 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                12,
                60
            ],
            "data": [
                {
                    "name": "\u5e08\u7236",
                    "value": 101,
                    "textStyle": {
                        "color": "rgb(47,61,17)"
                    }
                },
                {
                    "name": "\u4eca\u5929",
                    "value": 35,
                    "textStyle": {
                        "color": "rgb(23,49,142)"
                    }
                },
                {
                    "name": "doge",
                    "value": 35,
                    "textStyle": {
                        "color": "rgb(77,18,109)"
                    }
                },
                {
                    "name": "\u590f\u81f3",
                    "value": 35,
                    "textStyle": {
                        "color": "rgb(1,104,124)"
                    }
                },
                {
                    "name": "\u91d1\u7b8d",
                    "value": 32,
                    "textStyle": {
                        "color": "rgb(147,121,69)"
                    }
                },
                {
                    "name": "\u5e08\u5085",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(84,57,90)"
                    }
                },
                {
                    "name": "\u8d75\u6714",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(137,26,22)"
                    }
                },
                {
                    "name": "\u65f6\u5019",
                    "value": 24,
                    "textStyle": {
                        "color": "rgb(20,29,54)"
                    }
                },
                {
                    "name": "\u770b\u5230",
                    "value": 21,
                    "textStyle": {
                        "color": "rgb(73,106,159)"
                    }
                },
                {
                    "name": "\u66f4\u65b0",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(49,43,73)"
                    }
                },
                {
                    "name": "\u5e0c\u671b",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(46,4,94)"
                    }
                },
                {
                    "name": "\u73b0\u5728",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(28,55,94)"
                    }
                },
                {
                    "name": "\u609f\u7a7a",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(8,156,33)"
                    }
                },
                {
                    "name": "\u89c6\u9891",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(79,135,144)"
                    }
                },
                {
                    "name": "\u5927\u5bb6",
                    "value": 17,
                    "textStyle": {
                        "color": "rgb(60,92,159)"
                    }
                },
                {
                    "name": "\u6cf0\u5c71",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(145,48,56)"
                    }
                },
                {
                    "name": "\u5927\u54ed",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(63,11,72)"
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 15,
                    "textStyle": {
                        "color": "rgb(26,96,8)"
                    }
                },
                {
                    "name": "\u770b\u770b",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(66,38,141)"
                    }
                },
                {
                    "name": "\u5fc3\u5fc3",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(54,14,51)"
                    }
                },
                {
                    "name": "\u6211\u5bb6",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(18,80,72)"
                    }
                },
                {
                    "name": "\u661f\u661f",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(158,18,71)"
                    }
                },
                {
                    "name": "\u5feb\u4e50",
                    "value": 13,
                    "textStyle": {
                        "color": "rgb(47,75,122)"
                    }
                },
                {
                    "name": "\u5927\u7b11",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(29,26,108)"
                    }
                },
                {
                    "name": "\u4e8b\u4ef6",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(24,92,107)"
                    }
                },
                {
                    "name": "\u5076\u9047",
                    "value": 11,
                    "textStyle": {
                        "color": "rgb(46,160,101)"
                    }
                },
                {
                    "name": "\u652f\u6301",
                    "value": 11,
                    "textStyle": {
                        "color": "rgb(148,35,134)"
                    }
                },
                {
                    "name": "\u4e00\u4e0b",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(39,27,8)"
                    }
                },
                {
                    "name": "\u4e0d\u8981",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(85,108,43)"
                    }
                },
                {
                    "name": "\u4eca\u65e5",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(146,111,96)"
                    }
                },
                {
                    "name": "\u5fae\u7b11",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(93,82,122)"
                    }
                },
                {
                    "name": "\u4e0d\u4f1a",
                    "value": 9,
                    "textStyle": {
                        "color": "rgb(50,80,73)"
                    }
                },
                {
                    "name": "\u7279\u522b",
                    "value": 9,
                    "textStyle": {
                        "color": "rgb(55,113,106)"
                    }
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(116,141,84)"
                    }
                },
                {
                    "name": "\u4e00\u6837",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(116,101,99)"
                    }
                },
                {
                    "name": "\u597d\u597d",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(88,90,22)"
                    }
                },
                {
                    "name": "\u5403\u74dc",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(72,78,87)"
                    }
                },
                {
                    "name": "\u8eab\u4f53",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(133,110,146)"
                    }
                },
                {
                    "name": "\u6714\u54e5",
                    "value": 8,
                    "textStyle": {
                        "color": "rgb(35,74,152)"
                    }
                },
                {
                    "name": "\u6700\u8fd1",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(97,159,29)"
                    }
                },
                {
                    "name": "\u5f00\u5fc3",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(153,37,28)"
                    }
                },
                {
                    "name": "\u4e00\u5929",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(87,91,19)"
                    }
                },
                {
                    "name": "\u8bb0\u5f97",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(128,77,86)"
                    }
                },
                {
                    "name": "\u90a3\u4e48",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(11,50,88)"
                    }
                },
                {
                    "name": "\u5f00\u59cb",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(131,90,119)"
                    }
                },
                {
                    "name": "\u4e00\u5207",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(89,80,99)"
                    }
                },
                {
                    "name": "\u4e00\u53ea",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(3,67,43)"
                    }
                },
                {
                    "name": "\u65f6\u95f4",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(41,72,144)"
                    }
                },
                {
                    "name": "\u6cf0\u5b89",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(37,102,35)"
                    }
                },
                {
                    "name": "\u5fc3\u60c5",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(16,48,92)"
                    }
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(61,151,26)"
                    }
                },
                {
                    "name": "\u56de\u6765",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(120,6,110)"
                    }
                },
                {
                    "name": "call",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(42,54,82)"
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(63,61,4)"
                    }
                },
                {
                    "name": "\u6628\u5929",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(61,93,128)"
                    }
                },
                {
                    "name": "\u6714\u5b50",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(59,97,83)"
                    }
                },
                {
                    "name": "\u9ec4\u5c71",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(84,98,4)"
                    }
                },
                {
                    "name": "\u6708\u4eae",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(86,35,33)"
                    }
                },
                {
                    "name": "\u5f88\u591a",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(109,56,74)"
                    }
                },
                {
                    "name": "\u5730\u65b9",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(83,152,56)"
                    }
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(114,150,60)"
                    }
                },
                {
                    "name": "\u7a7a\u7a7a",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(98,54,15)"
                    }
                },
                {
                    "name": "\u8d85\u7ea7",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(140,156,61)"
                    }
                },
                {
                    "name": "\u8fd8\u597d",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(158,66,79)"
                    }
                },
                {
                    "name": "\u4e00\u5e74",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(137,128,68)"
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(75,146,82)"
                    }
                },
                {
                    "name": "\u722c\u5c71",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(116,30,159)"
                    }
                },
                {
                    "name": "\u671f\u5f85",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(54,16,65)"
                    }
                },
                {
                    "name": "\u51e0\u5929",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(48,51,72)"
                    }
                },
                {
                    "name": "\u53d1\u58f0",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(85,159,143)"
                    }
                },
                {
                    "name": "\u5145\u7535",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(129,34,105)"
                    }
                },
                {
                    "name": "\u597d\u50cf",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(68,8,77)"
                    }
                },
                {
                    "name": "\u9047\u5230",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(109,23,111)"
                    }
                },
                {
                    "name": "\u5206\u4eab",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(128,132,51)"
                    }
                },
                {
                    "name": "\u60ca\u559c",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(141,114,92)"
                    }
                },
                {
                    "name": "\u80af\u5b9a",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(131,130,1)"
                    }
                },
                {
                    "name": "\u7c89\u4e1d",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(80,60,84)"
                    }
                },
                {
                    "name": "\u5c0f\u732b\u54aa",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(67,8,14)"
                    }
                },
                {
                    "name": "\u4fdd\u4f51",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(65,82,15)"
                    }
                },
                {
                    "name": "\u597d\u591a",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(136,105,112)"
                    }
                },
                {
                    "name": "\u5c0f\u732b",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(53,11,12)"
                    }
                },
                {
                    "name": "\u665a\u4e0a",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(83,80,70)"
                    }
                },
                {
                    "name": "\u81ea\u7531",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(85,112,19)"
                    }
                },
                {
                    "name": "\u8bc4\u8bba",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(157,127,49)"
                    }
                },
                {
                    "name": "\u5b89\u597d",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(68,127,113)"
                    }
                },
                {
                    "name": "\u8bf4\u8bdd",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(98,88,7)"
                    }
                },
                {
                    "name": "\u53d8\u5316",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(52,117,21)"
                    }
                },
                {
                    "name": "\u6700\u957f",
                    "value": 5,
                    "textStyle": {
                        "color": "rgb(5,80,121)"
                    }
                },
                {
                    "name": "\u7ed3\u679c",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(121,106,104)"
                    }
                },
                {
                    "name": "\u51fa\u73b0",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(108,53,115)"
                    }
                },
                {
                    "name": "\u6536\u5230",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(137,91,11)"
                    }
                },
                {
                    "name": "\u5d69\u5c71",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(23,83,126)"
                    }
                },
                {
                    "name": "\u4f60\u597d",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(55,156,108)"
                    }
                },
                {
                    "name": "\u7f57\u5e05\u5b87",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(145,132,92)"
                    }
                },
                {
                    "name": "\u7ecf\u5386",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(92,124,122)"
                    }
                },
                {
                    "name": "\u53ef\u80fd",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(40,34,51)"
                    }
                },
                {
                    "name": "\u773c\u775b",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(66,36,83)"
                    }
                },
                {
                    "name": "\u59d4\u5c48",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(30,22,71)"
                    }
                },
                {
                    "name": "\u5168\u4e16\u754c",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(37,105,134)"
                    }
                },
                {
                    "name": "\u5230\u5904",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(8,117,101)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u8bc4\u8bba\u8bcd\u4e91",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_bfe6ff3f419b4ab1a99cab71c648af00.setOption(option_bfe6ff3f419b4ab1a99cab71c648af00);
    </script>
</body>
</html>
