<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

    
</head>
<body >
    <div id="b581efe88c834c5fa6e384f7e3abd727" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b581efe88c834c5fa6e384f7e3abd727 = echarts.init(
            document.getElementById('b581efe88c834c5fa6e384f7e3abd727'), 'white', {renderer: 'canvas'});
        var option_b581efe88c834c5fa6e384f7e3abd727 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4fdd\u6301",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(110,39,146)"
                    }
                },
                {
                    "name": "\u5fae\u7b11",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(8,137,86)"
                    }
                },
                {
                    "name": "0321",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,17,32)"
                    }
                },
                {
                    "name": "\u9633\u5149",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(24,103,151)"
                    }
                },
                {
                    "name": "\u6175\u61d2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,59,55)"
                    }
                },
                {
                    "name": "yifanyuanhang",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(65,8,50)"
                    }
                },
                {
                    "name": "\u4e00\u852c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,87,17)"
                    }
                },
                {
                    "name": "\u4e00\u996d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,59,132)"
                    }
                },
                {
                    "name": "\u997a\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(26,85,15)"
                    }
                },
                {
                    "name": "\u5d3d\u5d3d\u9c7c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,153,9)"
                    }
                },
                {
                    "name": "\u5927\u7897",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,32,94)"
                    }
                },
                {
                    "name": "\u5999\u6b4c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,102,118)"
                    }
                },
                {
                    "name": "\u610f\u96be",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,158,52)"
                    }
                },
                {
                    "name": "\u5e73\u7a7a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,118,47)"
                    }
                },
                {
                    "name": "\u7cd6\u7cd6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,131,45)"
                    }
                },
                {
                    "name": "\u4e00\u6837",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,131,54)"
                    }
                },
                {
                    "name": "\u770b\u89c1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(55,110,109)"
                    }
                },
                {
                    "name": "ID",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(91,88,119)"
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(9,148,9)"
                    }
                },
                {
                    "name": "\u56e0\u68a6",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(36,62,104)"
                    }
                },
                {
                    "name": "\u4e45\u4e45",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,128,47)"
                    }
                },
                {
                    "name": "\u5355\u8bfb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(63,70,66)"
                    }
                },
                {
                    "name": "isishuang",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(67,34,141)"
                    }
                },
                {
                    "name": "dyn",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,14,76)"
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(5,49,129)"
                    }
                },
                {
                    "name": "\u592a\u9633",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(30,142,101)"
                    }
                },
                {
                    "name": "\u80a9\u5e76\u80a9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(98,47,150)"
                    }
                },
                {
                    "name": "\u54ce\u54df",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,137,139)"
                    }
                },
                {
                    "name": "\u9ec4\u6bdb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(158,156,1)"
                    }
                },
                {
                    "name": "\u5c0f\u871c\u8702",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(49,88,41)"
                    }
                },
                {
                    "name": "\u9ad8\u98de",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,97,55)"
                    }
                },
                {
                    "name": "QYSeason",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,58,41)"
                    }
                },
                {
                    "name": "\u65e0\u654c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(35,121,101)"
                    }
                },
                {
                    "name": "\u5927\u8138",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(52,131,9)"
                    }
                },
                {
                    "name": "2025",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(73,56,152)"
                    }
                },
                {
                    "name": "\u6781\u5ba2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(33,137,33)"
                    }
                },
                {
                    "name": "\u98de\u884c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,73,125)"
                    }
                },
                {
                    "name": "\u68ee\u6797",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,16,40)"
                    }
                },
                {
                    "name": "\u5fae\u5c18",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(96,43,37)"
                    }
                },
                {
                    "name": "\u5239\u90a3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(61,149,58)"
                    }
                },
                {
                    "name": "\u5927\u51b7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,14,54)"
                    }
                },
                {
                    "name": "AIGC",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(78,33,59)"
                    }
                },
                {
                    "name": "\u9891\u9053",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(57,41,119)"
                    }
                },
                {
                    "name": "\u753b\u4e2a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,61,66)"
                    }
                },
                {
                    "name": "\u661f\u7403",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(94,101,55)"
                    }
                },
                {
                    "name": "\u8389\u8389",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(130,35,19)"
                    }
                },
                {
                    "name": "\u5854\u7f57",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(79,17,85)"
                    }
                },
                {
                    "name": "\u5360\u661f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(63,60,131)"
                    }
                },
                {
                    "name": "\u6d77\u5a1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(60,154,85)"
                    }
                },
                {
                    "name": "\u624b\u7ed8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,148,147)"
                    }
                },
                {
                    "name": "\u6843\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(74,92,69)"
                    }
                },
                {
                    "name": "\u4e0a\u5cb8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(70,22,104)"
                    }
                },
                {
                    "name": "111",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,144,75)"
                    }
                },
                {
                    "name": "\u5929\u5566\u565c",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(96,83,59)"
                    }
                },
                {
                    "name": "\u4e0d\u8981",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(54,27,117)"
                    }
                },
                {
                    "name": "\u5938\u5f20",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(53,23,129)"
                    }
                },
                {
                    "name": "\u541b\u5bfb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,142,123)"
                    }
                },
                {
                    "name": "\u51b0\u4ea6\u51dd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(63,132,130)"
                    }
                },
                {
                    "name": "\u8679\u8679\u8679",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(65,27,67)"
                    }
                },
                {
                    "name": "\u963f\u51a0\u5b9d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,141,56)"
                    }
                },
                {
                    "name": "\u9646\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(57,92,29)"
                    }
                },
                {
                    "name": "\u843d\u96ea",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(112,150,39)"
                    }
                },
                {
                    "name": "\u82b1\u5f00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,48,103)"
                    }
                },
                {
                    "name": "\u65e5\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(6,144,79)"
                    }
                },
                {
                    "name": "\u6e05\u660e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(154,109,75)"
                    }
                },
                {
                    "name": "\u6307\u95f4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(127,104,112)"
                    }
                },
                {
                    "name": "\u7ed5\u7738",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,131,60)"
                    }
                },
                {
                    "name": "\u56db\u5904",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(146,12,135)"
                    }
                },
                {
                    "name": "\u8f6c\u8f6c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,144,120)"
                    }
                },
                {
                    "name": "\u56de\u6536",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(36,117,130)"
                    }
                },
                {
                    "name": "\u624b\u673a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(60,158,158)"
                    }
                },
                {
                    "name": "\u963f\u7ffb",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(44,4,38)"
                    }
                },
                {
                    "name": "\u5b5c\u7136",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(36,106,95)"
                    }
                },
                {
                    "name": "\u9752\u67e0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(52,45,104)"
                    }
                },
                {
                    "name": "\u4e00\u526a\u6885",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(147,35,19)"
                    }
                },
                {
                    "name": "\u6e05\u98ce",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(141,61,1)"
                    }
                },
                {
                    "name": "\u660e\u6708",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,159,14)"
                    }
                },
                {
                    "name": "\u561f\u561f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(29,7,114)"
                    }
                },
                {
                    "name": "ui3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(129,157,90)"
                    }
                },
                {
                    "name": "\u5e78\u798f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,13,58)"
                    }
                },
                {
                    "name": "\u4e07\u5e74",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,56,111)"
                    }
                },
                {
                    "name": "139liuliu",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(0,104,42)"
                    }
                },
                {
                    "name": "\u65e0\u6059",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(31,149,112)"
                    }
                },
                {
                    "name": "cyj",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(17,153,73)"
                    }
                },
                {
                    "name": "sumi24",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,9,51)"
                    }
                },
                {
                    "name": "ee",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,100,154)"
                    }
                },
                {
                    "name": "\u8111\u888b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(46,112,157)"
                    }
                },
                {
                    "name": "\u7a7a\u7a7a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,146,159)"
                    }
                },
                {
                    "name": "\u5c0f\u4e5d\u8981",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(136,21,46)"
                    }
                },
                {
                    "name": "\u963f\u52d2\u6cf0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(31,57,80)"
                    }
                },
                {
                    "name": "\u5c41\u5c41",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(26,14,60)"
                    }
                },
                {
                    "name": "\u8fd9\u513f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(2,112,90)"
                    }
                },
                {
                    "name": "Rrosy",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(5,2,94)"
                    }
                },
                {
                    "name": "Chen",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,58,110)"
                    }
                },
                {
                    "name": "\u91cf\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,82,115)"
                    }
                },
                {
                    "name": "\u8424\u706b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(6,101,77)"
                    }
                },
                {
                    "name": "\u8c46\u82bd",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,73,141)"
                    }
                },
                {
                    "name": "\u4f60\u597d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,126,63)"
                    }
                },
                {
                    "name": "\u672c\u4e8b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(124,141,140)"
                    }
                },
                {
                    "name": "\u8bd7\u989c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,67,96)"
                    }
                },
                {
                    "name": "Niiiiiiiiiiiiiv",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(151,55,141)"
                    }
                },
                {
                    "name": "\u8840\u578b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,160,114)"
                    }
                },
                {
                    "name": "\u65d7\u5e1c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,103,134)"
                    }
                },
                {
                    "name": "\u9ad8\u9ad8\u98d8\u626c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(56,146,147)"
                    }
                },
                {
                    "name": "\u5143\u6c14",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(64,124,22)"
                    }
                },
                {
                    "name": "\u7ea2\u67a3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,65,76)"
                    }
                },
                {
                    "name": "\u4e24\u9897",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(154,148,29)"
                    }
                },
                {
                    "name": "\u6817\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(10,111,77)"
                    }
                },
                {
                    "name": "\u6735\u6735",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(129,154,141)"
                    }
                },
                {
                    "name": "\u96c5\u54aa\u4e9a\u7c73",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,131,50)"
                    }
                },
                {
                    "name": "\u8521\u5bc4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(143,142,50)"
                    }
                },
                {
                    "name": "20008221941",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,146,116)"
                    }
                },
                {
                    "name": "bili",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(40,93,148)"
                    }
                },
                {
                    "name": "\u5317\u6b4c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,10,134)"
                    }
                },
                {
                    "name": "\u8c03\u8272\u76d8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(103,159,70)"
                    }
                },
                {
                    "name": "\u8352\u539f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(31,18,116)"
                    }
                },
                {
                    "name": "\u83f2\u83f2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(83,52,34)"
                    }
                },
                {
                    "name": "shmily",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,64,102)"
                    }
                },
                {
                    "name": "\u6ce1\u9762",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(100,54,7)"
                    }
                },
                {
                    "name": "cc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(34,84,91)"
                    }
                },
                {
                    "name": "\u738b\u742a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(32,114,149)"
                    }
                },
                {
                    "name": "\u7231\u4e0a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(99,64,76)"
                    }
                },
                {
                    "name": "347",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(5,112,131)"
                    }
                },
                {
                    "name": "\u5c0f\u857e",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,79,28)"
                    }
                },
                {
                    "name": "\u559c\u6b22",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(62,7,25)"
                    }
                },
                {
                    "name": "\u6cbf\u7740",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(50,129,17)"
                    }
                },
                {
                    "name": "\u590f\u591c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(63,10,25)"
                    }
                },
                {
                    "name": "\u505a\u68a6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(2,119,22)"
                    }
                },
                {
                    "name": "\u5e93\u65af\u79d1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(25,62,60)"
                    }
                },
                {
                    "name": "\u79cb\u88e4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(124,122,60)"
                    }
                },
                {
                    "name": "\u6162\u60a0\u60a0",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(111,148,60)"
                    }
                },
                {
                    "name": "\u4e39\u9171",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,67,145)"
                    }
                },
                {
                    "name": "4943",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(51,60,16)"
                    }
                },
                {
                    "name": "\u6bd4\u6bd4",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(90,95,135)"
                    }
                },
                {
                    "name": "\u5854\u5854\u5854",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,116,153)"
                    }
                },
                {
                    "name": "\u706b\u5154",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,159,27)"
                    }
                },
                {
                    "name": "\u5409\u826f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,60,51)"
                    }
                },
                {
                    "name": "\u6ca1\u5934\u8111",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,127,62)"
                    }
                },
                {
                    "name": "\u9ad8\u5174",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(157,17,36)"
                    }
                },
                {
                    "name": "\u5927\u767d\u83dc",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(16,45,102)"
                    }
                },
                {
                    "name": "\u4e00\u9897",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(1,112,4)"
                    }
                },
                {
                    "name": "hi",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(40,77,134)"
                    }
                },
                {
                    "name": "\u5f00\u6717",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(7,123,4)"
                    }
                },
                {
                    "name": "\u5e08\u59b9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(71,57,29)"
                    }
                },
                {
                    "name": "\u601d\u5ff5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(104,69,29)"
                    }
                },
                {
                    "name": "\u609f\u7a7a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(96,30,105)"
                    }
                },
                {
                    "name": "Baekhyuneii",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(119,26,63)"
                    }
                },
                {
                    "name": "\u6728\u77f3",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,15,115)"
                    }
                },
                {
                    "name": "\u674e\u5999\u7136",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(101,34,11)"
                    }
                },
                {
                    "name": "bulbulrouge",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(106,4,144)"
                    }
                },
                {
                    "name": "\u8bb8\u62fe",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(31,126,83)"
                    }
                },
                {
                    "name": "\u7fa1\u4e0e\u6e5b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,90,137)"
                    }
                },
                {
                    "name": "\u5439\u96ea",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(43,92,120)"
                    }
                },
                {
                    "name": "ovo",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,114,19)"
                    }
                },
                {
                    "name": "Daisy17918",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,22,148)"
                    }
                },
                {
                    "name": "\u8033\u6839",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(11,47,122)"
                    }
                },
                {
                    "name": "ZhouXHCC",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(134,10,76)"
                    }
                },
                {
                    "name": "\u8111\u95e8\u513f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(84,19,41)"
                    }
                },
                {
                    "name": "\u6709\u70b9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(24,33,20)"
                    }
                },
                {
                    "name": "\u5948\u65af",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(44,33,73)"
                    }
                },
                {
                    "name": "yyyy",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(140,109,71)"
                    }
                },
                {
                    "name": "\u5c0f\u4ead",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(68,144,33)"
                    }
                },
                {
                    "name": "0768",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(86,120,67)"
                    }
                },
                {
                    "name": "\u54bf\u5440",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(99,96,79)"
                    }
                },
                {
                    "name": "666",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(28,100,44)"
                    }
                },
                {
                    "name": "haha",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(71,80,24)"
                    }
                },
                {
                    "name": "\u5927\u4eba",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(40,152,148)"
                    }
                },
                {
                    "name": "\u65e9\u4e0a\u597d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,5,58)"
                    }
                },
                {
                    "name": "\u6881\u741b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(113,158,26)"
                    }
                },
                {
                    "name": "\u80a5\u5f97",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(117,74,15)"
                    }
                },
                {
                    "name": "\u94f0\u94fe",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(93,115,142)"
                    }
                },
                {
                    "name": "\u7b49\u5f0f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(98,88,71)"
                    }
                },
                {
                    "name": "\u77e5\u540d",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(128,118,99)"
                    }
                },
                {
                    "name": "\u5927\u6d77",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,57,28)"
                    }
                },
                {
                    "name": "\u7231\u597d\u8005",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(30,54,28)"
                    }
                },
                {
                    "name": "\u6c34\u519b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(94,48,102)"
                    }
                },
                {
                    "name": "\u95ee\u9898",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(108,36,44)"
                    }
                },
                {
                    "name": "\u8336\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(29,46,78)"
                    }
                },
                {
                    "name": "\u8303\u5fb7",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(72,142,59)"
                    }
                },
                {
                    "name": "\u5f6a\u54e5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(159,105,100)"
                    }
                },
                {
                    "name": "\u626c\u8d77",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(40,104,9)"
                    }
                },
                {
                    "name": "\u5634\u89d2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(80,74,19)"
                    }
                },
                {
                    "name": "\u4e00\u62b9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(45,64,70)"
                    }
                },
                {
                    "name": "hhhharuka",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(131,32,81)"
                    }
                },
                {
                    "name": "\u5feb\u4e50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,21,109)"
                    }
                },
                {
                    "name": "\u5c0f\u9c7c",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(42,12,41)"
                    }
                },
                {
                    "name": "AurigaBeacon",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,15,129)"
                    }
                },
                {
                    "name": "\u6d69\u51e0\u4f1a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(115,158,101)"
                    }
                },
                {
                    "name": "qi422",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(84,18,118)"
                    }
                },
                {
                    "name": "\u6746\u513f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(136,102,149)"
                    }
                },
                {
                    "name": "wow10086",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(147,6,89)"
                    }
                },
                {
                    "name": "\u70ed\u6c34",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(130,119,151)"
                    }
                },
                {
                    "name": "\u65e9\u7761\u65e9\u8d77",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(3,21,148)"
                    }
                },
                {
                    "name": "\u963f\u5e93\u62c9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(27,119,57)"
                    }
                },
                {
                    "name": "\u5854\u5854",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(29,74,61)"
                    }
                },
                {
                    "name": "\u4e94\u65b9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(105,151,42)"
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(81,28,152)"
                    }
                },
                {
                    "name": "\u6635\u79f0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(78,1,101)"
                    }
                },
                {
                    "name": "\u800c\u5df2",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(124,1,69)"
                    }
                },
                {
                    "name": "Chingiz",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(64,91,76)"
                    }
                },
                {
                    "name": "Aitmatov",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(98,82,49)"
                    }
                },
                {
                    "name": "\u8868\u91cc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(91,39,23)"
                    }
                },
                {
                    "name": "\u6f84\u6f88",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(119,4,26)"
                    }
                },
                {
                    "name": "sc",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(87,135,83)"
                    }
                },
                {
                    "name": "\u65e0\u804a",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(114,152,143)"
                    }
                },
                {
                    "name": "\u67da\u5b50",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(121,97,38)"
                    }
                },
                {
                    "name": "\u6f02\u4eae",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,16,56)"
                    }
                },
                {
                    "name": "\u54e5\u54e5",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(79,31,100)"
                    }
                },
                {
                    "name": "1999",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(85,6,23)"
                    }
                },
                {
                    "name": "\u53f2\u95e8\u5188\u5f02",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(54,144,86)"
                    }
                },
                {
                    "name": "\u4fe1\u4ef0",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(55,88,29)"
                    }
                },
                {
                    "name": "\u73a9\u5bb6",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(153,39,58)"
                    }
                },
                {
                    "name": "\u7f57\u9759",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(20,32,132)"
                    }
                },
                {
                    "name": "47",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(9,134,57)"
                    }
                },
                {
                    "name": "\u7d2b\u4ed9\u7af9",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(149,132,74)"
                    }
                },
                {
                    "name": "\u8461\u8404",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(1,102,57)"
                    }
                },
                {
                    "name": "\u8584\u8377",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(160,77,4)"
                    }
                },
                {
                    "name": "\u4e91\u9e64",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(122,151,13)"
                    }
                },
                {
                    "name": "\u4e5d\u9704",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(55,58,80)"
                    }
                },
                {
                    "name": "\u968f\u4fbf",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(36,133,92)"
                    }
                },
                {
                    "name": "\u5341\u4e00",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(73,119,29)"
                    }
                },
                {
                    "name": "\u673a\u5668",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(75,113,84)"
                    }
                },
                {
                    "name": "\u843d\u96c1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(2,85,39)"
                    }
                },
                {
                    "name": "\u65e0\u610f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(135,154,61)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u7528\u6237\u540d\u8bcd\u4e91\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b581efe88c834c5fa6e384f7e3abd727.setOption(option_b581efe88c834c5fa6e384f7e3abd727);
    </script>
</body>
</html>
